body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
.section {
    padding: 120px 0;
}
ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
margin: 0;
}

a {
    text-decoration: none;
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.page-header {
     border-bottom: 1px solid #e7e9fc; 
    box-shadow: 
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}
.header-logo .logo-part {
    color: #2e2f42;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link { 
    position: relative;
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.nav-link.current {
    color:#404bbf;
}
.nav-item .current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.contacts {
    font-style: normal;
    margin-left: auto;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}


.icon-soc {
    fill: #404bbf;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  }

.hero {
    max-width: 1440px;
    margin: 0 auto;
    padding: 188px 0;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)),url(../images/people-office\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.hero-container {
    margin: 0 auto;
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
max-width: 496px;
margin: 0 auto 48px;
text-shadow: 
-1px -1px 0 #000,
1px -1px 0 #000,
-1px -1px 0 #000,
1px -1px 0 #000;
}

.hero-button {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.hero-button:hover,
.hero-button:focus {
    background-color:#404bbf;
}

.features {
    padding: 120px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
    width: calc((100% - 72px) /4);
}

.features-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
}

.features-icon svg {
    width: 64px;
    height: 64px;
    fill: #2e2f42
}
 .features-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    
    color: #2e2f42;
} 

.features-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.team-title {
    text-align: center;
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-list {
    list-style: none;
    display: flex;
    gap: 24px;
}
.team-item {
    background-color: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow:
            0 1px 6px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 2px 1px 0 rgba(46, 47, 66, 0.08);
    overflow: hidden;  
    width: calc((100% - 72px) /4);
}
.team-content {
    padding: 32px 16px;
    text-align: center;
}

.team-photo {
    display: block;
    width: 100%;

}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-position {
    font-weight: 400;
    font-size: 16px;
    margin-top: 8px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.team-socials {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.team-socials-link {
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background-color: #4d5ae5;;
border-radius: 50%;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-socials-link .icon-soc {
width: 16px;
height: 16px;
fill: #f4f4fd;

}
.footer .icon-soc {
    fill: #f4f4fd;

}
.team-socials-link:hover,
.team-socials-link:focus {
    background-color: #404bbf;
}

.portfolio {
    padding: 120px 0;
}
.portfolio-title {
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}
.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 48px) / 3);
}
.portfolio-item:hover,
.portfolio-item:focus {
    box-shadow:
            0 1px 6px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 2px 1px 0 rgba(46, 47, 66, 0.08);
    }
.portfolio-img {
    display: block;
    width: 100%;
    height: auto;
}
.portfolio-thumb {
    position: relative;
    overflow: hidden;
}
.portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    background-color: rgba(77, 90, 229, 0.9);
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover .portfolio-overlay {
    transform: translateY(0);
}
.portfolio-info {
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        padding: 32px 16px;
}
.portfolio-item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.page-footer .container {
    display: flex;
    align-items: baseline;
    gap: 120px;
}
.footer-logo {
    display: block;
    margin-bottom: 16px;
}
.footer-logo .logo-part {
    color: #f4f4fd;
}
.footer-text {
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}


.footer-info {
    max-width: 264px;
}
.footer-text {
    margin-top: 16px;
    color:#f4f4fd;
    line-height: 1.5;
}
.footer-socials-title {
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
}
.footer-socials-list {
    display: flex;
    gap: 16px;
}
.footer-socials-item {
    width: 40px;
    height: 40px;
}
.footer-socials-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
}
.footer-socials-link:hover,
.footer-socials-link:focus {
    background-color: #31d0aa;
}
.icon-soc {
    fill: #f4f4fd;
}
.footer-socials-link.icon-soc {
    width: 24px;
    height: 24px;
}

.footer-subscribe {
    margin-left: auto;
}

.footer-subscribe-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-subscribe-form {
    display: flex;
    gap: 24px;
}

.footer-subscribe-input {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}
.footer-subscribe-input:focus {
    border-color: #31d0aa;
}

.footer-subscribe-input:hover {
    border-color: #404bbf;
}


.submit-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    width: 165px;
    height: 40px;
    padding: 8px 24px;

    background-color: #404bbf;
    border: none;
    border-radius: 4px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;

    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.submit-button:hover,
.submit-button:focus {
    background-color: #31d0aa;
    outline: none;
}

.icon-send {
    fill: #fff;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: relative;
    padding: 72px 24px 24px;
    top: 50%;
    left: 50%;

    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
 
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
                0 1px 3px 0 rgba(0, 0, 0, 0.12),
                0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal p {
    margin-top: 0;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -100%);
}

.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;;

    cursor: pointer;

    transition: background-color 250ms ease cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    display: inline-block;
    background-color: #404bbf;
    border-color: transparent;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
    fill: #fff;
}

.modal-text {
        margin: 0;
        margin-top: 24px;
        margin-bottom: 16px;

        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;

        letter-spacing: 0.02em;
        text-align: center;

        color: #2e2f42;
}
.input-wrapper {
    position: relative;
}
.modal-input {
    width: 100%;
    height: 40px;

    padding-left: 42px;
    padding-right: 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    outline: none;
}
.modal-input:hover,
.modal-input:focus {
    border-color: #4d5ae5;
    outline: none;
}
.modal-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%); 
    
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon--user {
    width: 18px;
    height: 18px;
}

.modal-input:focus + .modal-icon {
    fill: #4d5ae5;
}
.modal-form-field {
margin-bottom: 8px;
}

.modal-label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.modal-textarea {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    resize: none;
    padding: 16px;
    margin-bottom: 16px;
}

.modal-input,
.modal-textarea {
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #2e2f42;
}

.modal-textarea:hover,
.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-textarea::placeholder,
.modal-input::placeholder {
    color: rgba(46, 47, 66, 0.4);
}




.modal-checkbox-label {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #8e8f99;

    cursor: pointer;
}

.modal-checkbox-link {
    text-decoration: underline;
    color: #4d5ae5;
    margin-left: 4px;
    line-height: 1.33;
}

.modal-checkbox-link:hover,
.modal-checkbox-link:focus {
    color: #404bbf;
}

.modal-checkbox {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
}

.modal-checkbox-custom {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(33, 33, 33, 0.15);
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.icon-checkbox {
    width: 10px;
    height: 8px;
    opacity: 0;
    fill: transparent;
}

.visually-hidden:checked + .modal-checkbox-label .icon-checkbox {
    fill: #fff;
    opacity: 1;
}

.visually-hidden:checked + .modal-checkbox-label .modal-checkbox-custom {
    background-color: #404bbf;
    border-color: #404bbf;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
}



.modal-submit {
    display: block;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    

    width: 169px;
    height: 56px;

    padding: 16px 32px;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    border: none;

    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        text-align: center;
        color: #fff;

        cursor: pointer;
}
.modal-submit:hover,
.modal-submit:focus {
    background-color: #404bbf;
}